{% extends 'layouts/default.twig' %}
{% set body_class = 'article-page' %}
{% set head_title = 'Article' %}
{% block page %}
			<section class="title-page">
				<div class="title-area">
					<div class="container">
						<h3 data-aos="fade-right">
							Our
							<span>Article's</span>
						</h3>
					</div>
				</div>
			</section>
			<section class="article-news">
				<div class="container">
					<div class="article-area">
						<div class="row no-gutters">
							<div class="col-md-4 col-lg-3">
								<div class="sidebar-news" data-aos="zoom-in">
									<div class="sidebar-category">
										<div class="sidebar-group">
											<h5 class="font-text-bold">
												<span>Kategori</span>
											</h5>
											<ul class="sidebar-list">
												<li>
													<a href="#">
														<span>Access Control</span>
														<span class="icon fa fa-angle-right"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span>Uncategorized</span>
														<span class="icon fa fa-angle-right"></span>
													</a>
												</li>
											</ul>
										</div>
										<div class="sidebar-group">
											<h5 class="font-text-bold">
												<span>Recent Posts</span>
											</h5>
											<ul class="sidebar-list">
												<li>
													<a href="article-detail.html">
														<span class="text-ellipsis overflow-hidden line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</span>
														<span class="icon fa fa-angle-right"></span>
													</a>
												</li>
												<li>
													<a href="article-detail.html">
														<span class="text-ellipsis overflow-hidden line-clamp-2">Regulasi dan Standar Terkait Muster Zone</span>
														<span class="icon fa fa-angle-right"></span>
													</a>
												</li>
												<li>
													<a href="article-detail.html">
														<span class="text-ellipsis overflow-hidden line-clamp-2">Integrasi Muster Zone dengan Sistem Akses Kontrol</span>
														<span class="icon fa fa-angle-right"></span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-lg-9">
								<div class="content-area">
									<div class="content-wrapper">
										<div class="row no-gutters">
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_1.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_2.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_3.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_4.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_5.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_6.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_7.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_8.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="thumbnail-news" data-aos="zoom-in">
													<div class="thumbnail-wrapper">
														<div class="image-area">
															<figure>
																<img src="assets/img/images/images_9.jpg">
															</figure>
														</div>
														<div class="info-area">
															<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
															<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
															<p class="desc-info">
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
															</p>
														</div>
														<a href="article-detail.html" class="click-area"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<nav class="pagination-area">
										<ul class="pagination justify-content-center">
											<li class="page-item disabled" data-aos="zoom-in">
												<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
											</li>
											<li class="page-item active" data-aos="zoom-in">
												<a class="page-link" href="#">1</a>
											</li>
											<li class="page-item" data-aos="zoom-in">
												<a class="page-link" href="#">2</a>
											</li>
											<li class="page-item" data-aos="zoom-in">
												<a class="page-link" href="#">3</a>
											</li>
											<li class="page-item" data-aos="zoom-in">
												<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}