{% extends 'layouts/default.twig' %}
{% set body_class = 'Facility' %}
{% set head_title = 'facility' %}
{% block page %}
			<section class="title-page">
				<div class="title-area">
					<div class="container">
						<h3 data-aos="fade-right">
							Our
							<span>Facilities</span>
						</h3>
					</div>
				</div>
			</section>
			<section class="facility-detail">
				<div class="container">
					<div class="facility-thumbnails">
						<!-- MODEL LIST 1 -->
						<div class="facility-list-thumbnails" data-aos="fade-up">
							<div class="row no-gutters align-items-start">
								<div class="col-md-5">
									<div class="image-area">
										<div class="image-slider">
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_2.jpg" data-src="assets/img/images/images_2.jpg">
													<img src="assets/img/images/images_2.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_1.jpg" data-src="assets/img/images/images_1.jpg">
													<img src="assets/img/images/images_1.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_3.jpg" data-src="assets/img/images/images_3.jpg">
													<img src="assets/img/images/images_3.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="facility-list">
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
										<ul class="list-spec">
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>SpeMauris sollicitudin, lectus et rutrum rutrum, lorem leo</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Donec nec justo fermentum, pharetra mi a, pellentesque</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Proin sed tempus risus. Curabitur id ante a lectus</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Vestibulum tempus dolor mauris, eu tincidunt sem</span>
												</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- END MODEL LIST 1 -->
						
						<!-- MODEL LIST 2 -->
						<div class="facility-list-thumbnails" data-aos="fade-up">
							<div class="row no-gutters align-items-start">
								<div class="col-md-5">
									<div class="image-area">
										<div class="image-slider">
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_6.jpg" data-src="assets/img/images/images_6.jpg">
													<img src="assets/img/images/images_6.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_7.jpg" data-src="assets/img/images/images_7.jpg">
													<img src="assets/img/images/images_7.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_8.jpg" data-src="assets/img/images/images_8.jpg">
													<img src="assets/img/images/images_8.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="facility-list">
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
										<p>Aliquam sed velit erat. Vestibulum tempus dolor mauris, eu tincidunt sem accumsan eu. Maecenas nec quam non eros ullamcorper molestie.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- END MODEL LIST 1 -->

						<div class="facility-list-thumbnails" data-aos="fade-up">
							<div class="row no-gutters align-items-start">
								<div class="col-md-5">
									<div class="image-area">
										<div class="image-slider">
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_10.jpg" data-src="assets/img/images/images_10.jpg">
													<img src="assets/img/images/images_10.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_2.jpg" data-src="assets/img/images/images_2.jpg">
													<img src="assets/img/images/images_2.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_6.jpg" data-src="assets/img/images/images_6.jpg">
													<img src="assets/img/images/images_6.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="facility-list">
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
										<ul class="list-spec">
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>SpeMauris sollicitudin, lectus et rutrum rutrum, lorem leo</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Donec nec justo fermentum, pharetra mi a, pellentesque</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Proin sed tempus risus. Curabitur id ante a lectus</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Vestibulum tempus dolor mauris, eu tincidunt sem</span>
												</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="facility-list-thumbnails" data-aos="fade-up">
							<div class="row no-gutters align-items-start">
								<div class="col-md-5">
									<div class="image-area">
										<div class="image-slider">
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_9.jpg" data-src="assets/img/images/images_9.jpg">
													<img src="assets/img/images/images_9.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_10.jpg" data-src="assets/img/images/images_10.jpg">
													<img src="assets/img/images/images_10.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
											<div class="slider">
												<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_7.jpg" data-src="assets/img/images/images_7.jpg">
													<img src="assets/img/images/images_7.jpg" alt="">
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="icon-gallery">
														<i class="far fa-images"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="facility-list">
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
										<ul class="list-spec">
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>SpeMauris sollicitudin, lectus et rutrum rutrum, lorem leo</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Donec nec justo fermentum, pharetra mi a, pellentesque</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Proin sed tempus risus. Curabitur id ante a lectus</span>
												</h6>
											</li>
											<li>
												<h6>
													<i class="fas fa-caret-right"></i>
													<span>Vestibulum tempus dolor mauris, eu tincidunt sem</span>
												</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="pagination-area">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled" data-aos="zoom-in">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
							</li>
							<li class="page-item active" data-aos="zoom-in">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
{% endblock %}