{% extends 'layouts/default.twig' %}
{% set body_class = 'index' %}
{% set head_title = 'Home' %}
{% block page %}
			<section class="cover">
				<div class="container-fluid">
					<div class="cover-area" data-aos="fade-in">
						<div class="cover-content" id="cover-content">
							<div class="cover-list">
								<div class="wrapper">
									<div class="overlay"></div>
									<div class="image-area">
										<img src="assets/img/images/images_4.jpg" alt="">
									</div>
									<div class="desc-area" data-aos="fade-in" data-aos-delay="600">
										<h3>Lorem ipsum dolor sit</h3>
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est, porta nec dictum a, lacinia vitae odio</h5>
									</div>
								</div>
							</div>
							<div class="cover-list">
								<div class="wrapper">
									<div class="overlay"></div>
									<div class="image-area">
										<img src="assets/img/images/images_2.jpg" alt="">
									</div>
									<div class="desc-area" data-aos="fade-in" data-aos-delay="600">
										<h3>Lorem ipsum dolor sit</h3>
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est, porta nec dictum a, lacinia vitae odio</h5>
									</div>
								</div>
							</div>
							<div class="cover-list">
								<div class="wrapper">
									<div class="overlay"></div>
									<div class="image-area">
										<img src="assets/img/images/images_1.jpg" alt="">
									</div>
									<div class="desc-area" data-aos="fade-in" data-aos-delay="600">
										<h3>Lorem ipsum dolor sit</h3>
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est, porta nec dictum a, lacinia vitae odio</h5>
									</div>
								</div>
							</div>
							<div class="cover-list">
								<div class="wrapper">
									<div class="overlay"></div>
									<div class="image-area">
										<img src="assets/img/images/images_3.jpg" alt="">
									</div>
									<div class="desc-area" data-aos="fade-in" data-aos-delay="600">
										<h3>Lorem ipsum dolor sit</h3>
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est, porta nec dictum a, lacinia vitae odio</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-info">
				<div class="container">
					<div class="about-info-slider">
						<div class="about-info-list">
							<div class="info" data-aos="zoom-in">
								<div class="image-area">
									<img src="assets/img/icons/icon_chart.png" alt="">
								</div>
								<div class="desc-area">
									<h4>Etiam vehicula laoreet</h4>
									<p>Ut auctor nec leo ultricies fringilla. Vestibulum eget tortor dui. Nunc a lobortis orci. Morbi malesuada odio vitae porttitor condimentum.</p>
								</div>
							</div>
						</div>
						<div class="about-info-list">
							<div class="info" data-aos="zoom-in">
								<div class="image-area">
									<img src="assets/img/icons/icon_accurate.png" alt="">
								</div>
								<div class="desc-area">
									<h4>Consectetur adipiscing</h4>
									<p>Pellentesque pulvinar tellus quis ante lobortis, quis vehicula justo finibus. Aliquam erat volutpat. Sed non ipsum ante.</p>
								</div>
							</div>
						</div>
						<div class="about-info-list">
							<div class="info" data-aos="zoom-in">
								<div class="image-area">
									<img src="assets/img/icons/icon_time.png" alt="">
								</div>
								<div class="desc-area">
									<h4>Integer quis sollicitudin</h4>
									<p>Mauris ultricies lacinia leo. Donec iaculis enim massa, sed interdum nisi pharetra vitae. Integer vulputate, sapien a congue convallis.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="business-info">
				<div class="container">
					<div class="show-desktop">
						<div class="row no-gutters thumbnail-info align-items-center">
							<div class="image-area col-lg-8">
								<div class="gallery-image shadow" data-aos="fade-right">
									<img src="assets/img/images/images_10.jpg" alt="">
								</div>
							</div>
							<div class="info-thumb col-lg-4">
								<div class="wrapper">
									<div class="title-area">
										<h3 data-aos="fade-left">
											Sed quis venenatis
										</h3>
									</div>
									<div class="desc-area" data-aos="fade-left" data-aos-delay="100">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor metus arcu, sit amet laoreet felis congue sit amet sed a iaculis felis.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row no-gutters thumbnail-info right-style align-items-center">
							<div class="image-area col-lg-8 order-lg-last">
								<div class="gallery-image shadow" data-aos="fade-left">
									<img src="assets/img/images/images_9.jpg" alt="">
								</div>
							</div>
							<div class="info-thumb col-lg-4 order-lg-first">
								<div class="wrapper">
									<div class="title-area">
										<h3 data-aos="fade-right">
											Sodales sollicitudin
										</h3>
									</div>
									<div class="desc-area" data-aos="fade-right" data-aos-delay="100">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor metus arcu, sit amet laoreet felis congue sit amet sed a iaculis felis.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row no-gutters thumbnail-info align-items-center">
							<div class="image-area col-lg-8">
								<div class="gallery-image shadow" data-aos="fade-right">
									<img src="assets/img/images/images_8.jpg" alt="">
								</div>
							</div>
							<div class="info-thumb col-lg-4">
								<div class="wrapper">
									<div class="title-area">
										<h3 data-aos="fade-left">
											Malesuada commodo
										</h3>
									</div>
									<div class="desc-area" data-aos="fade-left" data-aos-delay="100">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor metus arcu, sit amet laoreet felis congue sit amet sed a iaculis felis.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="show-mobile">
						<div class="business-info-slider">
							<div class="business-info-list">
								<div class="row no-gutters thumbnail-info align-items-center">
									<div class="image-area col-lg-8">
										<div class="gallery-image" data-aos="zoom-in">
											<img src="assets/img/images/images_10.jpg" alt="">
										</div>
									</div>
									<div class="info-thumb col-lg-4">
										<div class="wrapper">
											<div class="title-area">
												<h3 data-aos="zoom-in">
													Sed quis venenatis
												</h3>
											</div>
											<div class="desc-area" data-aos="zoom-in" data-aos-delay="100">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor metus arcu, sit amet laoreet felis congue sit amet sed a iaculis felis.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="business-info-list">
								<div class="row no-gutters thumbnail-info align-items-center">
									<div class="image-area col-lg-8 order-lg-last">
										<div class="gallery-image" data-aos="zoom-in">
											<img src="assets/img/images/images_9.jpg" alt="">
										</div>
									</div>
									<div class="info-thumb col-lg-4 order-lg-first">
										<div class="wrapper">
											<div class="title-area">
												<h3 data-aos="zoom-in">
													Sodales sollicitudin
												</h3>
											</div>
											<div class="desc-area" data-aos="zoom-in" data-aos-delay="100">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor metus arcu, sit amet laoreet felis congue sit amet sed a iaculis felis.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="business-info-list">
								<div class="row no-gutters thumbnail-info align-items-center">
									<div class="image-area col-lg-8">
										<div class="gallery-image" data-aos="zoom-in">
											<img src="assets/img/images/images_8.jpg" alt="">
										</div>
									</div>
									<div class="info-thumb col-lg-4">
										<div class="wrapper">
											<div class="title-area">
												<h3 data-aos="zoom-in">
													Malesuada commodo
												</h3>
											</div>
											<div class="desc-area" data-aos="zoom-in" data-aos-delay="100">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor metus arcu, sit amet laoreet felis congue sit amet sed a iaculis felis.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="project-info">
				<div class="container">
					<div class="title-section">
						<h3 data-aos="fade-right">
							Our
							<span>Projects</span>
						</h3>
						<div class="link-cta" data-aos="fade-right" data-aos-delay="300">
							<a href="projects.html" class="cta">
								<span>View All</span>
								<i class="icon-arrow"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="wrapper">
					<div class="project-slider" data-aos="zoom-in" data-aos-delay="600">
						<div class="project-area">
							<div class="project-list">
								<div class="project-wrapper">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_3.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<a href="projects.html">Category</a>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
									</div>
									<a href="project-gallery.html" class="link"></a>
								</div>
							</div>
							<div class="project-list">
								<div class="project-wrapper">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_2.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<a href="projects.html">Category</a>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
									</div>
									<a href="project-gallery.html" class="link"></a>
								</div>
							</div>
							<div class="project-list">
								<div class="project-wrapper">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_3.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<a href="projects.html">Category</a>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
									</div>
									<a href="project-gallery.html" class="link"></a>
								</div>
							</div>
							<div class="project-list">
								<div class="project-wrapper">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_2.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<a href="projects.html">Category</a>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
									</div>
									<a href="project-gallery.html" class="link"></a>
								</div>
							</div>
							<div class="project-list">
								<div class="project-wrapper">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_3.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<a href="projects.html">Category</a>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
									</div>
									<a href="project-gallery.html" class="link"></a>
								</div>
							</div>
						</div>
						<div class="project-nav">
							<div class="wrapper">
								<div class="nav-wrapper" data-aos="fade-up">
									<div class="photos" style="background-image: url('assets/img/images/images_3.jpg');"></div>
								</div>
								<div class="nav-wrapper" data-aos="fade-up">
									<div class="photos" style="background-image: url('assets/img/images/images_2.jpg');"></div>
								</div>
								<div class="nav-wrapper" data-aos="fade-up">
									<div class="photos" style="background-image: url('assets/img/images/images_3.jpg');"></div>
								</div>
								<div class="nav-wrapper" data-aos="fade-up">
									<div class="photos" style="background-image: url('assets/img/images/images_2.jpg');"></div>
								</div>
								<div class="nav-wrapper" data-aos="fade-up">
									<div class="photos" style="background-image: url('assets/img/images/images_3.jpg');"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="logo-slider partner-slider">
				<div class="container">
					<div class="title-section">
						<h3 data-aos="fade-right">
							Our
							<span>Partners</span>
						</h3>
						<div class="link-cta" data-aos="fade-right" data-aos-delay="300">
							<a href="partners.html" class="cta">
								<span>View All</span>
								<i class="icon-arrow"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="slider-area">
					<div class="slider-row">
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="logo-slider client-slider">
				<div class="container">
					<div class="title-section">
						<h3 data-aos="fade-right">
							Our
							<span>Clients</span>
						</h3>
						<div class="link-cta" data-aos="fade-right" data-aos-delay="300">
							<a href="partners.html" class="cta">
								<span>View All</span>
								<i class="icon-arrow"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="slider-area">
					<div class="slider-row">
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="box-slider" data-aos="zoom-in" data-aos-delay="600">
								<div class="image-area">
									<figure>
										<img src="assets/img/partners/partners.jpg">
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="article-slider">
				<div class="container">
					<div class="title-section">
						<h3 data-aos="fade-right">
							Latest
							<span>Article</span>
						</h3>
						<div class="link-cta" data-aos="fade-right" data-aos-delay="300">
							<a href="article.html" class="cta">
								<span>View All</span>
								<i class="icon-arrow"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="article-section">
					<div class="slider-area">
						<div class="slider-list">
							<div class="thumbnail-news" data-aos="zoom-in">
								<div class="thumbnail-wrapper">
									<div class="image-area">
										<figure>
											<img src="assets/img/images/images_1.jpg">
										</figure>
									</div>
									<div class="info-area">
										<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
										<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
										<p class="desc-info">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
									<a href="article-detail.html" class="click-area"></a>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="thumbnail-news" data-aos="zoom-in">
								<div class="thumbnail-wrapper">
									<div class="image-area">
										<figure>
											<img src="assets/img/images/images_2.jpg">
										</figure>
									</div>
									<div class="info-area">
										<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
										<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
										<p class="desc-info">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
									<a href="article-detail.html" class="click-area"></a>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="thumbnail-news" data-aos="zoom-in">
								<div class="thumbnail-wrapper">
									<div class="image-area">
										<figure>
											<img src="assets/img/images/images_3.jpg">
										</figure>
									</div>
									<div class="info-area">
										<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
										<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
										<p class="desc-info">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
									<a href="article-detail.html" class="click-area"></a>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="thumbnail-news" data-aos="zoom-in">
								<div class="thumbnail-wrapper">
									<div class="image-area">
										<figure>
											<img src="assets/img/images/images_4.jpg">
										</figure>
									</div>
									<div class="info-area">
										<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
										<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
										<p class="desc-info">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
									<a href="article-detail.html" class="click-area"></a>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="thumbnail-news" data-aos="zoom-in">
								<div class="thumbnail-wrapper">
									<div class="image-area">
										<figure>
											<img src="assets/img/images/images_5.jpg">
										</figure>
									</div>
									<div class="info-area">
										<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
										<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
										<p class="desc-info">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
									<a href="article-detail.html" class="click-area"></a>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="thumbnail-news" data-aos="zoom-in">
								<div class="thumbnail-wrapper">
									<div class="image-area">
										<figure>
											<img src="assets/img/images/images_4.jpg">
										</figure>
									</div>
									<div class="info-area">
										<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
										<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
										<p class="desc-info">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
									<a href="article-detail.html" class="click-area"></a>
								</div>
							</div>
						</div>
						<div class="slider-list">
							<div class="thumbnail-news" data-aos="zoom-in">
								<div class="thumbnail-wrapper">
									<div class="image-area">
										<figure>
											<img src="assets/img/images/images_5.jpg">
										</figure>
									</div>
									<div class="info-area">
										<span class="category-label text-ellipsis line-clamp-1">17 Januari 2025</span>
										<p class="text-ellipsis line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
										<p class="desc-info">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
									<a href="article-detail.html" class="click-area"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
