{% extends 'layouts/default.twig' %}
{% set body_class = 'partners' %}
{% set head_title = 'Partners' %}
{% block page %}
			<section class="title-page">
				<div class="title-area">
					<div class="container">
						<h3 data-aos="fade-right">
							Our
							<span>Partners</span>
						</h3>
					</div>
				</div>
			</section>
			<section class="partner-thumbnails">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-4 col-md-3">
							<div class="partner-wrapper">
								<div class="image-area" data-aos="zoom-in">
									<img src="assets/img/partners/partners.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}