{% extends 'layouts/default.twig' %}
{% set body_class = 'product' %}
{% set head_title = 'Product' %}
{% block page %}
			<section class="title-page">
				<div class="title-area">
					<div class="container">
						<h3 data-aos="fade-right">
							Our
							<span>Products</span>
						</h3>
					</div>
				</div>
			</section>
			<section class="product-thumbnails">
				<div class="container">
					<div class="row no-gutters justify-content-center">
						<div class="col-md-10">
							<div class="row no-gutters justify-content-center">
								<!-- MODEL 1 -->
								<div class="col-md-6" data-aos="zoom-in">
									<div class="product-wrapper">
										<div class="product-area">
											<div class="image-area shadow">
												<div class="image-slider">
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_2.jpg" data-src="assets/img/images/images_2.jpg">
															<img src="assets/img/images/images_2.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_1.jpg" data-src="assets/img/images/images_1.jpg">
															<img src="assets/img/images/images_1.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_3.jpg" data-src="assets/img/images/images_3.jpg">
															<img src="assets/img/images/images_3.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<ul class="tag">
												<li>
													<span>Category</span>
												</li>
											</ul>
											<div class="desc-area">
												<h5>Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
												<ul class="list-spec">
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>SpeMauris sollicitudin, lectus et rutrum rutrum, lorem leo</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Donec nec justo fermentum, pharetra mi a, pellentesque</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Proin sed tempus risus. Curabitur id ante a lectus</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Vestibulum tempus dolor mauris, eu tincidunt sem</span>
														</h6>
													</li>
												</ul>
											</div>
											<ul class="button-area flat">
												<li>
													<button class="button outline selector-button">Lihat Foto</button>
												</li>
												<li>
													<button class="button" data-toggle="modal" data-target="#modal-product">Hubungi Kami</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- END MODEL 1 -->

								<!-- MODEL 2 -->
								<div class="col-md-6" data-aos="zoom-in">
									<div class="product-wrapper">
										<div class="product-area">
											<div class="image-area shadow">
												<div class="image-slider">
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_5.jpg" data-src="assets/img/images/images_5.jpg">
															<img src="assets/img/images/images_5.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_6.jpg" data-src="assets/img/images/images_6.jpg">
															<img src="assets/img/images/images_6.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_7.jpg" data-src="assets/img/images/images_7.jpg">
															<img src="assets/img/images/images_7.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<ul class="tag">
												<li>
													<span>Category</span>
												</li>
											</ul>
											<div class="desc-area">
												<h5>Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
												<p>Aliquam sed velit erat. Vestibulum tempus dolor mauris, eu tincidunt sem accumsan eu. Maecenas nec quam non eros ullamcorper molestie.</p>
											</div>
											<ul class="button-area flat">
												<li>
													<button class="button outline selector-button">Lihat Foto</button>
												</li>
												<li>
													<button class="button" data-toggle="modal" data-target="#modal-product">Hubungi Kami</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- END MODEL 2 -->

								<div class="col-md-6" data-aos="zoom-in">
									<div class="product-wrapper">
										<div class="product-area">
											<div class="image-area shadow">
												<div class="image-slider">
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_7.jpg" data-src="assets/img/images/images_7.jpg">
															<img src="assets/img/images/images_7.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_9.jpg" data-src="assets/img/images/images_9.jpg">
															<img src="assets/img/images/images_9.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_1.jpg" data-src="assets/img/images/images_1.jpg">
															<img src="assets/img/images/images_1.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<ul class="tag">
												<li>
													<span>Category</span>
												</li>
											</ul>
											<div class="desc-area">
												<h5>Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
												<ul class="list-spec">
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>SpeMauris sollicitudin, lectus et rutrum rutrum, lorem leo</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Donec nec justo fermentum, pharetra mi a, pellentesque</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Proin sed tempus risus. Curabitur id ante a lectus</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Vestibulum tempus dolor mauris, eu tincidunt sem</span>
														</h6>
													</li>
												</ul>
											</div>
											<ul class="button-area flat">
												<li>
													<button class="button outline selector-button">Lihat Foto</button>
												</li>
												<li>
													<button class="button" data-toggle="modal" data-target="#modal-product">Hubungi Kami</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-6" data-aos="zoom-in">
									<div class="product-wrapper">
										<div class="product-area">
											<div class="image-area shadow">
												<div class="image-slider">
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_10.jpg" data-src="assets/img/images/images_10.jpg">
															<img src="assets/img/images/images_10.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_5.jpg" data-src="assets/img/images/images_5.jpg">
															<img src="assets/img/images/images_5.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_4.jpg" data-src="assets/img/images/images_4.jpg">
															<img src="assets/img/images/images_4.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<ul class="tag">
												<li>
													<span>Category</span>
												</li>
											</ul>
											<div class="desc-area">
												<h5>Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
												<ul class="list-spec">
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>SpeMauris sollicitudin, lectus et rutrum rutrum, lorem leo</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Donec nec justo fermentum, pharetra mi a, pellentesque</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Proin sed tempus risus. Curabitur id ante a lectus</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Vestibulum tempus dolor mauris, eu tincidunt sem</span>
														</h6>
													</li>
												</ul>
											</div>
											<ul class="button-area flat">
												<li>
													<button class="button outline selector-button">Lihat Foto</button>
												</li>
												<li>
													<button class="button" data-toggle="modal" data-target="#modal-product">Hubungi Kami</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-6" data-aos="zoom-in">
									<div class="product-wrapper">
										<div class="product-area">
											<div class="image-area shadow">
												<div class="image-slider">
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_4.jpg" data-src="assets/img/images/images_4.jpg">
															<img src="assets/img/images/images_4.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_2.jpg" data-src="assets/img/images/images_2.jpg">
															<img src="assets/img/images/images_2.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_1.jpg" data-src="assets/img/images/images_1.jpg">
															<img src="assets/img/images/images_1.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<ul class="tag">
												<li>
													<span>Category</span>
												</li>
											</ul>
											<div class="desc-area">
												<h5>Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
												<ul class="list-spec">
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>SpeMauris sollicitudin, lectus et rutrum rutrum, lorem leo</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Donec nec justo fermentum, pharetra mi a, pellentesque</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Proin sed tempus risus. Curabitur id ante a lectus</span>
														</h6>
													</li>
													<li>
														<h6>
															<i class="fas fa-caret-right"></i>
															<span>Vestibulum tempus dolor mauris, eu tincidunt sem</span>
														</h6>
													</li>
												</ul>
											</div>
											<ul class="button-area flat">
												<li>
													<button class="button outline selector-button">Lihat Foto</button>
												</li>
												<li>
													<button class="button" data-toggle="modal" data-target="#modal-product">Hubungi Kami</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-6" data-aos="zoom-in">
									<div class="product-wrapper">
										<div class="product-area">
											<div class="image-area shadow">
												<div class="image-slider">
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_8.jpg" data-src="assets/img/images/images_8.jpg">
															<img src="assets/img/images/images_8.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_9.jpg" data-src="assets/img/images/images_9.jpg">
															<img src="assets/img/images/images_9.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="slider">
														<div class="image-wrapper selector" data-exthumbimage="assets/img/images/images_6.jpg" data-src="assets/img/images/images_6.jpg">
															<img src="assets/img/images/images_6.jpg" alt="">
															<div class="overlay-bg">
																<div class="hover-icon">
																	<span class="icon"></span>
																</div>
															</div>
															<div class="overlay-mobile show-mobile">
																<div class="icon">
																	<span class="fa fa-search-plus"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<ul class="tag">
												<li>
													<span>Category</span>
												</li>
											</ul>
											<div class="desc-area">
												<h5>Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
												<p>Aliquam sed velit erat. Vestibulum tempus dolor mauris, eu tincidunt sem accumsan eu. Maecenas nec quam non eros ullamcorper molestie.</p>
											</div>
											<ul class="button-area flat">
												<li>
													<button class="button outline selector-button">Lihat Foto</button>
												</li>
												<li>
													<button class="button" data-toggle="modal" data-target="#modal-product">Hubungi Kami</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="pagination-area">
						{# <div class="pagination">
							<ul>
								<li class="first">
									<a href="http://localhost/web-arjayamarine/index.php/country/listing/">&lt;&lt;</a>
								</li>
								<li class="prev">
									<a href="http://localhost/web-arjayamarine/index.php/country/listing/220">&lt;</a>
								</li>
								<li>
									<a href="http://localhost/web-arjayamarine/index.php/country/listing/210">22</a>
								</li>
								<li>
									<a href="http://localhost/web-arjayamarine/index.php/country/listing/220">23</a>
								</li>
								<li class="selected active">
									<a href="#">24</a>
								</li>
								<li class="next">
									<a href="http://localhost/web-arjayamarine/index.php/country/listing/10">&gt;</a>
								</li>
								<li class="last">
									<a href="http://localhost/web-arjayamarine/index.php/country/listing/230">&gt;&gt;</a>
								</li>
							</ul>
						</div> #}
						<ul class="pagination justify-content-center">
							<li class="page-item disabled" data-aos="zoom-in">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
							</li>
							<li class="page-item active" data-aos="zoom-in">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
			<!-- POPUP -->
			<div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-labelledby="modal-product-title" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-product-title">Message</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form class="form" id="form-message">
								<div class="form-group">
									<label for="name" class="col-form-label">Name</label>
									<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
								</div>
								<div class="form-group">
									<label for="email" class="col-form-label">Email Address</label>
									<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
								</div>
								<div class="form-group">
									<label for="phone" class="col-form-label">Phone Number</label>
									<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
								</div>
								<div class="form-group">
									<label for="productName" class="col-form-label">Product Name</label>
									<select class="form-control" id="productName" name="productName">
										<option value="" class="placeholder" hidden>Select Product</option>
										<option value="Product Name 1">Product Name 1</option>
										<option value="Product Name 2">Product Name 2</option>
										<option value="Product Name 3">Product Name 3</option>
										<option value="Product Name 4">Product Name 4</option>
									</select>
								</div>
								<div class="form-group">
									<label for="message" class="col-form-label">Message</label>
									<textarea class="form-control" id="message" name="message" placeholder="Message" required></textarea>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="button outline" data-dismiss="modal">Close</button>
							<button type="button" class="button submit-form">Submit</button>
						</div>
					</div>
				</div>
			</div>
			<!-- END POPUP -->
{% endblock %}