{% extends 'layouts/default.twig' %}
{% set body_class = 'project' %}
{% set head_title = 'Projects' %}
{% block page %}
			<section class="title-page">
				<div class="title-area">
					<div class="container">
						<h3 data-aos="fade-right">
							Our
							<span>Projects</span>
						</h3>
					</div>
				</div>
			</section>
			<section class="filter-project">
				<div class="container">
					<div class="container-mix">
						<div class="row no-gutters">
							<div class="col-md-6 mix">
								<div class="project-wrapper" data-aos="zoom-in">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_6.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<span>Category</span>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
										<a href="project-gallery.html" class="link"></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 mix">
								<div class="project-wrapper" data-aos="zoom-in">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_4.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<span>Category</span>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
										<a href="project-gallery.html" class="link"></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 mix">
								<div class="project-wrapper" data-aos="zoom-in">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_7.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<span>Category</span>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
										<a href="project-gallery.html" class="link"></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 mix">
								<div class="project-wrapper" data-aos="zoom-in">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_2.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<span>Category</span>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
										<a href="project-gallery.html" class="link"></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 mix">
								<div class="project-wrapper" data-aos="zoom-in">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_8.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<span>Category</span>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
										<a href="project-gallery.html" class="link"></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 mix">
								<div class="project-wrapper" data-aos="zoom-in">
									<div class="project">
										<div class="image-area shadow">
											<img src="assets/img/images/images_1.jpg" alt="">
										</div>
										<ul class="tag">
											<li>
												<span>Category</span>
											</li>
										</ul>
										<div class="desc-area">
											<h5>Lorem ipsum dolor sit amet</h5>
										</div>
										<a href="project-gallery.html" class="link"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="pagination-area">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled" data-aos="zoom-in">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
							</li>
							<li class="page-item active" data-aos="zoom-in">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item" data-aos="zoom-in">
								<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
{% endblock %}