{% extends 'layouts/default.twig' %}
{% set body_class = 'story' %}
{% set head_title = 'About' %}
{% block page %}
			<section class="title-page">
				<div class="title-area">
					<div class="container">
						<h3 data-aos="fade-right">
							Our
							<span>Story</span>
						</h3>
					</div>
				</div>
			</section>
			<section class="content-detail editable">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-lg-6">
							<article>
								<p data-aos="fade-right" data-aos-delay="50">
									<strong>Arjaya Berkah Marine</strong> adalah perusahaan <em>galangan untuk perbaikan</em> dan <u>pembangunan kapal baru dan alat apung lainnya</u>, berlokasi di pantai Utara Pulau Jawa berjarak 5 Km dari pelabuhan Merak dan Kawasan PLTU Suralaya. 
								</p>
								<p data-aos="fade-right" data-aos-delay="100">
									Arjaya Berkah Marine berdiri pada awal tahun 2019 dan dikomandoi oleh tenaga profesional yang telah berpengalaman dibidang kemaritiman. kami siap menyelesaikan pekerjaan tepat waktu dan tepat anggaran, kami melayani dengan bangga dan penuh perhatian. 
								</p>

								<ul>
									<li>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</li>
									<li>
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
									</li>
									<li>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</li>
								</ul>

								<p data-aos="fade-right" data-aos-delay="100">
									Arjaya Berkah Marine berdiri pada awal tahun 2019 dan dikomandoi oleh tenaga profesional yang telah berpengalaman dibidang kemaritiman. kami siap menyelesaikan pekerjaan tepat waktu dan tepat anggaran, kami melayani dengan bangga dan penuh perhatian. 
								</p>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="certificate">
				<div class="container">
					<div class="title-section">
						<h3 data-aos="fade-right">
							Our
							<span>Certificate's</span>
						</h3>
					</div>
					<div class="wrapper content-detail-page">
						<div class="row awards-list">
							<div class="col-sm-6 col-lg-4">
								<div class="certificate-image shadow selector" data-exthumbimage="assets/img/certificates/certificate.png" data-src="assets/img/certificates/certificate.png" data-aos="zoom-in">
									<div class="frame">
										<img src="assets/img/certificates/frame.png" alt="">
									</div>
									<div class="wrapper-image">
										<img src="assets/img/certificates/certificate.png" alt="">
										<div class="overlay-bg">
											<div class="hover-icon">
												<span class="icon"></span>
											</div>
										</div>
										<div class="overlay-mobile show-mobile">
											<div class="icon">
												<span class="fa fa-search-plus"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="certificate-image shadow selector" data-exthumbimage="assets/img/certificates/certificate.png" data-src="assets/img/certificates/certificate.png" data-aos="zoom-in">
									<div class="frame">
										<img src="assets/img/certificates/frame.png" alt="">
									</div>
									<div class="wrapper-image">
										<img src="assets/img/certificates/certificate.png" alt="">
										<div class="overlay-bg">
											<div class="hover-icon">
												<span class="icon"></span>
											</div>
										</div>
										<div class="overlay-mobile show-mobile">
											<div class="icon">
												<span class="fa fa-search-plus"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="certificate-image shadow selector" data-exthumbimage="assets/img/certificates/certificate.png" data-src="assets/img/certificates/certificate.png" data-aos="zoom-in">
									<div class="frame">
										<img src="assets/img/certificates/frame.png" alt="">
									</div>
									<div class="wrapper-image">
										<img src="assets/img/certificates/certificate.png" alt="">
										<div class="overlay-bg">
											<div class="hover-icon">
												<span class="icon"></span>
											</div>
										</div>
										<div class="overlay-mobile show-mobile">
											<div class="icon">
												<span class="fa fa-search-plus"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="certificate-image shadow selector" data-exthumbimage="assets/img/certificates/certificate.png" data-src="assets/img/certificates/certificate.png" data-aos="zoom-in">
									<div class="frame">
										<img src="assets/img/certificates/frame.png" alt="">
									</div>
									<div class="wrapper-image">
										<img src="assets/img/certificates/certificate.png" alt="">
										<div class="overlay-bg">
											<div class="hover-icon">
												<span class="icon"></span>
											</div>
										</div>
										<div class="overlay-mobile show-mobile">
											<div class="icon">
												<span class="fa fa-search-plus"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="certificate-image shadow selector" data-exthumbimage="assets/img/certificates/certificate.png" data-src="assets/img/certificates/certificate.png" data-aos="zoom-in">
									<div class="frame">
										<img src="assets/img/certificates/frame.png" alt="">
									</div>
									<div class="wrapper-image">
										<img src="assets/img/certificates/certificate.png" alt="">
										<div class="overlay-bg">
											<div class="hover-icon">
												<span class="icon"></span>
											</div>
										</div>
										<div class="overlay-mobile show-mobile">
											<div class="icon">
												<span class="fa fa-search-plus"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4">
								<div class="certificate-image shadow selector" data-exthumbimage="assets/img/certificates/certificate.png" data-src="assets/img/certificates/certificate.png" data-aos="zoom-in">
									<div class="frame">
										<img src="assets/img/certificates/frame.png" alt="">
									</div>
									<div class="wrapper-image">
										<img src="assets/img/certificates/certificate.png" alt="">
										<div class="overlay-bg">
											<div class="hover-icon">
												<span class="icon"></span>
											</div>
										</div>
										<div class="overlay-mobile show-mobile">
											<div class="icon">
												<span class="fa fa-search-plus"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}