		<footer>
			<div class="nav-top">
				<div class="container">
					<div class="footer-wrapper">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-lg-6">
										<div class="footer-logo">
											<a href="index.html">
												<span class="logo"></span>
												<strong>PT. Arjaya Berkah Marine</strong>
											</a>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address text-center-mobile">
											<i class="fas fa-map-marker-alt"></i>
											<address>
												Mangunreja <br>
												Puloampel, Serang , Banten, <br>
												Jawa Barat, 42455, Indonesia
											</address>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-lg-6">
										<div class="phone text-center-mobile">
											<ul>
												<li>
													<a href="mailto:arjayamarine@gmail.com">
														<i class="fas fa-envelope"></i>
														<span>arjayamarine@gmail.com</span>
													</a>
												</li>
												<li>
													<a href="tel:+6287882394987">
														<i class="fas fa-phone-alt"></i>
														<span>+62 878 8239 4987</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-6 phone-email">
										<div class="social-media text-center-mobile">
											<h6>Social Media</h6>
											<ul class="social flat">
												<li class="facebook">
													<a href="#" target="_blank">
														<i class="fab fa-facebook-f"></i>
													</a>
												</li>
												<li class="youtube">
													<a href="#" target="_blank">
														<i class="fab fa-youtube"></i>
													</a>
												</li>
												<li class="instagram">
													<a href="#" target="_blank">
														<i class="fab fa-instagram"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-bottom">
				<div class="container">
					<p class="copyright">Copyright © 2020 PT. Arjaya Berkah Marine. All Rights Reserved.</p>
				</div>
			</div>
		</footer>
